<h1>Index</h1>

<table border="1">
<tr>
  <th>Host</th>
  <th>Active</th>
  <th>Inactive</th>
  <th>Total</th>
</tr>
{{#each model as |visit|}}
<tr>
  <td>{{visit.host}}</td>
  <td>{{visit.active}}</td>
  <td>{{visit.inactive}}</td>
  <td>{{visit.total}}</td>
</tr>
{{/each}}
</table>

{{outlet}}
