<h1>Index</h1>

<table border="1">
<tr>
  <th>Host</th>
  <th>Visited at</th>
  <th>Duration</th>
  <th>Active</th>
</tr>
{{#each model as |visit|}}
<tr>
  <td>{{visit.host}}</td>
  <td>{{visit.visited_at}}</td>
  <td>{{visit.duration}}ms</td>
  <td>{{visit.active}}</td>
</tr>
{{/each}}
</table>

{{outlet}}
